# Dependency directories
dist/
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next

# My Entries
ormconfig.json
ormconfig.back.json
